absl-py==2.1.0
annotated-types==0.7.0
anyio==4.8.0
astunparse==1.6.3
attrs==25.1.0
backports.tarfile==1.2.0
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
clickclick==20.10.2
connexion==2.14.2
crashtest==0.4.1
cytoolz==1.0.1
distlib==0.3.9
dulwich==0.22.7
eth-hash==0.7.1
eth-typing==5.1.0
eth-utils==5.2.0
fastjsonschema==2.21.1
filelock==3.17.0
Flask==2.1.1
flask-swagger-ui==4.11.1
flatbuffers==25.1.24
gast==0.6.0
google-pasta==0.2.0
grpcio==1.70.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib_metadata==8.6.1
inflection==0.5.1
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.8.0
keyring==25.6.0
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.3.2
more-itertools==10.6.0
msgpack==1.1.0
namex==0.0.8
numpy==1.26.4
openapi-generator-cli==7.11.0.post0
openapi-python-client==0.23.1
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pkginfo==1.12.0
platformdirs==4.3.6
poetry==2.0.1
poetry-core==2.0.1
protobuf==4.25.6
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
RapidFuzz==3.12.1
referencing==0.36.2
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.5
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
swagger-ui-bundle==0.0.9
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.16.2
termcolor==2.5.0
tomlkit==0.13.2
toolz==1.0.0
trove-classifiers==2025.1.15.22
typer==0.15.1
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.1
Werkzeug==2.2.3
wrapt==1.17.2
xattr==1.1.4
zipp==3.21.0
